<app-banner [etiquetaHijo]="etiquetaPadre"></app-banner>


<!--================ Gallery Area =================-->
<section class="gallery_area">
    <div class="container">
        <app-main-title [title]="titlePadre"></app-main-title>

        <div class="gallery">
            <div *ngFor="let image of images;let i = index " [style.gridRow]="image.row" [style.gridCol]="image.col" class="image">
                <img [src]="image.url" (click)="selectedImage = i + 1">
                <span>
                    <mat-icon>
                      photo_camera
                    </mat-icon>
                </span>

            </div>
        </div>
    </div>
</section>


<app-gallery-carousel *ngIf="selectedImage !==0 " (closeCarousel)="selectedImage = 0" [images]="images" [selectedImage]="selectedImage"></app-gallery-carousel>


<!--================ End Gallery Area =================-->
