<section class="login">
    <div class="login_box">
        <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
            <h3>SIGN IN</h3>

            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username">
                    <mat-icon matSuffix>account_circle</mat-icon>

                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password">
                    <mat-icon matSuffix>lock</mat-icon>

                </mat-form-field>
            </p>



            <div class="row">
                <div class="col text-danger">
                    <p *ngIf="campoNoValido('username')">* El nombre de usuario es requerido</p>
                    <p *ngIf="campoNoValido('password')">* La contraseña es requerida</p>

                </div>
            </div>
            <div class="btn">
                <button mat-raised-button color="primary">Sign In</button>
            </div>
        </form>

    </div>
</section>