.login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    max-width: 300px;
    background: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    padding: 20px 0;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

mat-icon {
    color: navy;
}

@media (min-width:400px) {
    .login_box {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width:550px) {
    .login_box {
        width: 60%;
        margin: 0 auto;
    }
}

@media (min-width:650px) {
    .login_box {
        width: 50%;
        margin: 0 auto;
    }
}