<!--================ Start banner section =================-->
<section class="home_banner relative">
    <div class="container-fluid pl-0">
        <div class="row justify-content-center align-items-center full_height">
            <div class="col-lg-6 p-0">
                <div class="banner_left d-flex justify-content-center flex-column">
                    <h1>Mary's</h1>
                    <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women.
                    </p>
                    <a class="main_btn" routerLink="/menu">check our menu</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner_right d-flex justify-content-center align-items-center">
                    <div class="round-planet planet">
                        <div class="round-planet planet2">
                            <div class="round-planet planet3">
                                <div class="shape shape1"></div>
                                <div class="shape shape2"></div>
                                <div class="shape shape3"></div>
                                <div class="shape shape4"></div>
                                <div class="shape shape5"></div>
                                <div class="shape shape6"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="face-img img-fluid" src="assets/img/banner/home-banner.png" alt="">
</section>
<!--================ End banner section =================-->

<!--================ Top Dish Area =================-->
<section class="top_dish_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title position-relative">
                    <h1>Our Top Rated Dishes</h1>
                    <hr>
                    <div class="round-planet planet">
                        <div class="round-planet planet2">
                            <div class="shape shape1"></div>
                            <div class="shape shape2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="single_dish col-lg-4 col-md-6 text-center">
                <div class="thumb">
                    <img class="img-fluid" src="assets/img/dish/d1.jpg" alt="">
                </div>
                <h4>Bread Fruit Cheese Sandwich</h4>
                <p>
                    Bread/Potato/Cheese
                </p>
                <h5 class="price">$5.59</h5>
            </div>

            <div class="single_dish col-lg-4 col-md-6 text-center">
                <div class="thumb">
                    <img class="img-fluid" src="assets/img/dish/d2.jpg" alt="">
                </div>
                <h4>Beef Cutlet with Spring Onion</h4>
                <p>
                    Bread/Potato/Cheese
                </p>
                <h5 class="price">$5.59</h5>
            </div>

            <div class="single_dish col-lg-4 col-md-6 text-center">
                <div class="thumb">
                    <img class="img-fluid" src="assets/img/dish/d3.jpg" alt="">
                </div>
                <h4>Meat with sauce & Vegetables</h4>
                <p>
                    Bread/Potato/Cheese
                </p>
                <h5 class="price">$5.59</h5>
            </div>
        </div>
    </div>
</section>
<!--================ End Top Dish Area =================-->


<!-- ================= CHEF AREA -->
<h1 class="text-center">Meet Our Chefs</h1>
<div class="row text-center chef_area">
    <div class="col-12 col-md-4">
        <img class="img-fluid" src="../../../assets/img/chef/1.png" alt="">
        <div class="card-body">
            <h1>Mariela</h1>
            <h6>Cupcake Specialist</h6>
            <p>Olivia is an awesome pastry chef!</p>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <img class="img-fluid" src="../../../assets/img/chef/2.png" alt="">
        <div class="card-body">
            <h1>Olivia</h1>
            <h6>Cupcake Specialist</h6>
            <p>Olivia is an awesome pastry chef!</p>
        </div>
    </div>


    <div class="col-12 col-md-4">
        <img src="../../../assets/img/chef/3.png" class="img-fluid" alt="">
        <div class="card-body">
            <h1>Olivia</h1>
            <h6>Cupcake Specialist</h6>
            <p>Olivia is an awesome pastry chef!</p>
        </div>
    </div>
</div>





<!-- =================END CHEF AREA -->


<!--================Member Area =================-->
<section class="testimonials_area section_gap position-relative">
    <div class="container">
        <div>
            <h2 class="text-center">Clients Comments</h2>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="card m-auto">
                    <img src="../../../assets/img/blog/c1.jpg" class="card-img-top  img-fluid" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            "Fantastic place to chill out, great services...!"
                        </p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card m-auto">
                    <img src="../../../assets/img/blog/c2.jpg" class="card-img-top  img-fluid" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            <q>
                            Fantastic place to chill out, great services...!
                          </q>
                        </p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card m-auto">
                    <img src="../../../assets/img/blog/c3.jpg" class="card-img-top  img-fluid" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            <q>
                        Fantastic place to chill out, great services...!
                      </q>
                        </p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="card m-auto">
                    <img src="../../../assets/img/blog/c4.jpg" class="card-img-top  img-fluid" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            <q>
                        Fantastic place to chill out, great services...!
                      </q>
                        </p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="card m-auto">
                    <img src="../../../assets/img/blog/c5.jpg" class="card-img-top  img-fluid" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            <q>
                        Fantastic place to chill out, great services...!
                      </q>
                        </p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="card m-auto ">
                    <img src="../../../assets/img/blog/c6.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            <q>
                        Fantastic place to chill out, great services...!
                      </q>
                        </p>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>
<!--================End Member Area =================-->