<!--================ Start banner section =================-->
<section class="home_banner relative">
    <div class="container-fluid pl-0">
        <div class="row justify-content-center align-items-center full_height">
            <div class="col-lg-6 p-0">
                <div class="banner_left d-flex justify-content-center flex-column">
                    <h1>delicious cupcakes</h1>
                    <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women.
                    </p>
                    <a class="main_btn" routerLink="/menu">check our menu</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner_right d-flex justify-content-center align-items-center">
                    <div class="round-planet planet">
                        <div class="round-planet planet2">
                            <div class="round-planet planet3">
                                <div class="shape shape1"></div>
                                <div class="shape shape2"></div>
                                <div class="shape shape3"></div>
                                <div class="shape shape4"></div>
                                <div class="shape shape5"></div>
                                <div class="shape shape6"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="face-img img-fluid" src="assets/img/banner/home-banner.png" alt="">
</section>
<!--================ End banner section =================-->

<!--================ Top Dish Area =================-->
<section class="top_dish_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title position-relative">
                    <h1>Our Top Rated Dishes</h1>
                    <hr>
                    <div class="round-planet planet">
                        <div class="round-planet planet2">
                            <div class="shape shape1"></div>
                            <div class="shape shape2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="single_dish col-lg-4 col-md-6 text-center">
                <div class="thumb">
                    <img class="img-fluid" src="assets/img/dish/d1.jpg" alt="">
                </div>
                <h4>Bread Fruit Cheese Sandwich</h4>
                <p>
                    Bread/Potato/Cheese
                </p>
                <h5 class="price">$5.59</h5>
            </div>

            <div class="single_dish col-lg-4 col-md-6 text-center">
                <div class="thumb">
                    <img class="img-fluid" src="assets/img/dish/d2.jpg" alt="">
                </div>
                <h4>Beef Cutlet with Spring Onion</h4>
                <p>
                    Bread/Potato/Cheese
                </p>
                <h5 class="price">$5.59</h5>
            </div>

            <div class="single_dish col-lg-4 col-md-6 text-center">
                <div class="thumb">
                    <img class="img-fluid" src="assets/img/dish/d3.jpg" alt="">
                </div>
                <h4>Meat with sauce & Vegetables</h4>
                <p>
                    Bread/Potato/Cheese
                </p>
                <h5 class="price">$5.59</h5>
            </div>
        </div>
    </div>
</section>
<!--================ End Top Dish Area =================-->


<!--================Member Area =================-->
<section class="testimonials_area section_gap position-relative">
    <div class="container">
        <div class="testi_slider owl-carousel">
            <div class="item">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="assets/img/testimonials/testi-1.jpg" alt="">
                    </div>
                    <div class="col-lg-8">
                        <div class="testi_text">
                            <h4>Filipino Gomez</h4>
                            <h5>Web Developer, Google</h5>
                            <p>“Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="assets/img/testimonials/testi-1.jpg" alt="">
                    </div>
                    <div class="col-lg-8">
                        <div class="testi_text">
                            <h4>Filipino Gomez</h4>
                            <h5>Web Developer, Google</h5>
                            <p>“Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="assets/img/testimonials/testi-1.jpg" alt="">
                    </div>
                    <div class="col-lg-8">
                        <div class="testi_text">
                            <h4>Filipino Gomez</h4>
                            <h5>Web Developer, Google</h5>
                            <p>“Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Member Area =================-->